.about {
    margin-top: 100px;
    margin-bottom: 100px;
}

.aboutFlexParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.aboutImg {
    max-width: calc(35% - 70px);
    min-width: 225px;
    margin: 0 35px;
}

.aboutText {
    max-width: calc(65% - 70px);
    margin: 0 35px;
}