.about {
    margin-top: 100px;
    margin-bottom: 100px;
}

.aboutFlexParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutImg {
    max-width: calc(30% - 50px);
    margin-right: 70px;
}

//just put this on all the images? in _base.scss
// .aboutImg img {
//     border-radius: 20px;
//     border: 5px solid rgb(138, 167, 183);
// }

.aboutText {
    max-width: 40%;
}