.about {
    // margin-top: 100px;
    // margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../styles/assets/B-kiwihug-zGZYQQVmXw0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutFlexParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.aboutImg {
    max-width: calc(35% - 70px);
    min-width: 225px;
    margin: 0 35px;
}

.aboutText {
    max-width: calc(65% - 70px);
    margin: 0 35px;
}

.aboutText p {
    font-size: 1.1rem;
    line-height: 1.5;
}