// font-family: 'Commissioner', sans-serif;
// font-family: 'Fraunces', serif;

html {
    font-size: 125%;
}

body {
    font-family: 'Commissioner', sans-serif;
    text-align: center;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
    border: 5px solid $tertiary;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul {
    margin: 0 auto;
    padding: 0;
}

li {
    list-style-type: none;
}

h1,
h2,
h3 {
    font-family: 'Fraunces', serif;
    color: rgb(0, 0, 73);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

h2::before {
    content: "";
    background-image: url(./assets/lilLeavesBlue.svg);
    background-size: cover;
    display: inline-block;
    height: 75px;
    width: 75px;
}