.contact {
    background-color: $primary;
    div.wrapper {
        border-bottom: 2px solid $tertiary;
    }
    p {
        margin-bottom: 0;
        padding: 30px;
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        li {
            padding: 10px;
            margin: 15px;
        }
    }
    i {
        font-size: 2rem;
        display: block;
        margin-bottom: 10px;
    }
}