.contact {
    background-color: $primary;
    p {
        margin-bottom: 0;
        padding: 30px;
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            padding: 10px;
            margin: 15px;
        }
    }
    i {
        font-size: 2rem;
    }
}