header {
    background-color: $primary;
    min-height: 100vh;
    color: $quaternary;
    position: relative;
    nav {
        padding-top: 20px;
    }
    img {
        opacity: 80%;
    }
}

.topNav {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
    justify-content: center;
    li {
        padding: 10px 15px;
        margin: 10px 40px;
    }
}

.titleFlexParent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
    position: relative;
}

h1 {
    margin-bottom: 20px;
}

.titleText {
    z-index: 10;
    text-align: left;
}

.titleImg {
    position: absolute;
    max-width: 300px;
    opacity: 80%;
    left: 2.5%;
    top: -50px;
}

.fa-chevron-down {
    font-size: 2rem;
    position: absolute;
    bottom: 20px;
}