header {
    background-color: rgb(237, 169, 129, 30%);
    min-height: 900px;
    color: rgb(0, 0, 73);
    img {
        opacity: 60%;
        border-radius: 50%;
    }
}

.topNav {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
    justify-content: center;
    li {
        padding: 10px 15px;
        margin: 10px 40px;
    }
}

.titleFlexParent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
    position: relative;
}

h1 {
    margin-bottom: 20px;
}

.titleText {
    z-index: 10;
    text-align: left;
}

.titleImg {
    position: absolute;
    max-width: 300px;
    opacity: 80%;
    left: 2.5%;
    top: -50px;
    // right: 35px;
    // top: 40%;
    // right: 30%;
}

// h1 {
//     &::before {
//         content: "";
//         background-image: url(./assets/leafStem.svg.svg);
//         background-size: 800px 800px;
//         z-index: 10;
//     }
// }