.skills {
    background-color: rgb(138, 167, 183, 30%);
    padding-top: 30px;
    padding-bottom: 30px;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        // margin-top: 
        li {
            width: calc(15% - 20px);
            margin: 5px 10px;
            padding: 10px;
        }
    }
}

i,
.material-symbols-outlined {
    font-size: 3rem;
}

.responsive {
    display: block;
}