$primary: rgb(237, 169, 129, 30%);
$secondary: rgb(138, 167, 183, 30%);
$tertiary: rgb(138, 167, 183);
$quaternary: rgb(0, 0, 73);

//primary: peach for backgrounds
//secondary: light blue for backgrounds
//tertiary: darker blue for borders and logo
//quat: dark navy for headings
