$primary: rgb(249, 209, 210, 20%);
$primaryOpaque: rgb(249, 209, 210, 60%);
$secondary: rgba(138, 167, 183, 0.2);
$tertiary: rgb(138, 167, 183);
$quaternary: rgb(0, 0, 73);

//primary: peach for backgrounds
//secondary: light blue for backgrounds
//tertiary: darker blue for borders and logo
//quat: dark navy for headings
